#dosbox { width: 640px; height: 400px; margin: 0 auto; padding-top: 60px; min-height: -60px; max-height: 60px;}
.dosbox-container { width: 640px; height: 400px;}
.dosbox-container > .dosbox-overlay { background-size: 640px 400px; }
body{
    background-image: url('Pictures/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #ddd;
    cursor:url(Pictures/cursor.gif), pointer;
}
h1{
    background-image: url('Pictures/gamesphere.png');
    background-repeat:no-repeat;
    background-position:center;
    padding-top: 90px;
   } h2{
    background-color: cyan;
    text-align:center;
    color:black;
    padding:7px;
    border-right: 750px solid whitesmoke;
    border-left: 750px solid whitesmoke;
   }
   li{
    float:justify;
    list-style:none;
    overflow:hidden;
    margin:0;
    padding:0;
    font:status-bar;
    font-size: 14pt;
    border-right: 0px solid whitesmoke;
    border-left: 0px solid whitesmoke;
    text-align:center;
    background-color: rgb(2, 2, 56);
    padding:14px 14px;
   }
   li:last-child{
    border-right:none;
   }
   li a:hover{
    color:rgb(2, 2, 56);
    background-color: blueviolet;
    text-decoration: none;
   }
   a{
    text-decoration: none;
    list-style:none;
    text-align:center;
    padding:90px 60px;
    color: white;
    border:5px;
   }
   footer{
    position:fixed;
    color: #ddd;
    text-align: center;
    padding-top: 375px;
    position: sticky;
    max-height: -375px;
   }